/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

body {
  font-family: arial;
  padding: 0;
  margin: 0;
  position: relative;
}
body::before {
  z-index: 1;
  content: "";
  position: absolute;
  background-image: url('./bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
}
body > * {
  position: relative;
  z-index: 2;
}

/* Sets the background image for the wheel */
td.the_wheel {
  background-image: url(./wheel_back.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* Do some css reset on selected elements */
h1,
p {
  margin: 0;
}

a{
  font-size: 20px;
  color: #076bae;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #076bae;
}

div.power_controls-right {
  margin-right: 70px;
}

div.power_controls-left {
  margin-left: 70px;
}

div.html5_logo {
  margin-left: 70px;
}

/* Styles for the power selection controls */
table.power {
  background-color: #cccccc;
  cursor: pointer;
  border: 1px solid #333333;
}

table.power th {
  background-color: white;
  cursor: default;
}


td.pw1 {
  background-color: #6fe8f0;
}

td.pw2 {
  background-color: #86ef6f;
}

td.pw3 {
  background-color: #ef6f6f;
}

td.pw4 {
  background-color: #6fe8f0;
}

td.pw5 {
  background-color: #86ef6f;
}

td.pw6 {
  background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable {
  cursor: pointer;
}

/* Other misc styles */
.margin_bottom {
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0,0,0,0.5); */
}

header {
  position: absolute;
  top: 15px;
  left: 15px;
}
.winwheel {
  margin: 0 10px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease;
  animation: fadeIn 1s ease;
}
